MVC4_AngularJs_RESTWCF/Service References/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_REST_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_REST_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDataContract" nillable="true" type="tns:UserDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDataContract" nillable="true" type="tns:ArrayOfUserDataContract" />
  <xs:complexType name="UserDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaBaja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioRed" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataContract" nillable="true" type="tns:UserDataContract" />
</xs:schema>